.about {
  padding: 60px 0 0 0;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .left {
      width: 30%;
      padding-right: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      &:after {
        content: "";
        display: inline-block;
        width: 80px;
        height: 2px;
        margin-top: 10px;
        background: linear-gradient(to right, $primary, $secondary);
      }

      @media (max-width: 1024px) {
        width: 50%;
      }

      @media (max-width: 768px) {
        width: 100%;
        text-align: left;
        align-items: flex-start;
        margin-bottom: 40px;

      }
    }

    .right {
      width: 70%;

      @media (max-width: 1024px) {
        width: 50%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    p {
      margin-bottom: 20px;
      columns: 2;
      column-gap: 40px;

      @media (max-width: 1024px) {
        columns: 1;
      }
    }
  }
}