header {
  background: white;
  box-shadow: 0 0 5px #00000080;
  position: relative;
  z-index: 10000;

  .container {
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 220px;
    height: 60px;
    margin-right: 20px;
    background-image: $logo;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    color: transparent;

    @media (max-width: 1024px) {
      background-image: $logo-mobile;
    }

    @media (max-width: 768px) {
      background-image: $logo;
    }

    @media (max-width: 425px) {
      background-image: $logo-mobile;
    }
  }


  .menu {
    display: flex;

    @media (max-width: 768px) {
      display: none;
      background: $color-gradient;
      position: absolute;
      top: 100px;
      right: -320px;
      width: 320px;
      height: 600px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: right 0.3s ease-in-out;
      opacity: 0.9;
    }

    &.mobile-open {
      display: flex;
      right: 0;
    }

    a {
      position: relative;
      font-size: 18px;
      margin-right: 40px;
      padding: 5px 10px;
      color: $dark-gray;
      transition: color 0.2s;
      white-space: nowrap;

      @media (max-width: 1024px) {
        padding: 5px;
        margin-right: 20px;
      }

      @media (max-width: 768px) {
        color: white;
        font-size: 24px;
        font-weight: 200;
        margin-right: 0;
        margin-bottom: 40px;

        &:after {
          display: none;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 2px;
        width: 100%;
        background-image: linear-gradient(to right, $primary, $secondary);
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
        transform-origin: right;
      }

      &:hover {
        color: $primary;

        &:after {
          transform: scaleX(1);
          transform-origin: left;

        }
      }
    }
  }
}