.newsletter {
  background: black;
  height: 400px;
  position: relative;

  background-image: url(https://images.unsplash.com/photo-1485848395967-65dff62dc35b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: $dark-gray;
    // opacity: 0.6;
    backdrop-filter: blur(10px);
  }

  .container {
    position: relative;
    z-index: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
    color: white;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  form {
    position: relative;
    width: 70%;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
    }

    label {
      position: absolute;
      color: transparent;
    }

    input[type=email] {
      background: white;
      width: 100%;
      padding: 20px;
      box-shadow: 0 0 5px #00000080;
      font-family: 'Raleway', sans-serif;
      color: $med-gray;


      &::placeholder {
        font-family: 'Raleway', sans-serif;
        color: $light-gray;
      }
    }

    input[type=button] {
      position: absolute;
      top: 0;
      right: 0;

      @media (max-width: 580px) {
        width: 100%;
        position: unset;
        // margin-top: 20px;
      }
    }

    .accept {
      margin-top: 10px;

      label {
        color: white;
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }
}